<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmput301f18t20.medicalphotorecord">
    //Permissions
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Activities.Login"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <activity
            android:name="Activities.ModifyPatientActivity"
            android:label="Modify User"
            android:parentActivityName="Activities.BrowseUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.BrowseUserActivity" />
        </activity>
        <activity android:name="Activities.ViewUserActivity" />
        <activity android:name="Activities.SignUp" />
        <activity android:name="Activities.BrowseUserActivity" />
        <activity android:name="Activities.ProviderHomeMenuActivity" />
        <activity android:name="Activities.PatientHomeMenuActivity" />
        <activity android:name="Activities.BrowseProblemsActivity" />
        <activity android:name="Activities.ViewProblemActivity" />
        <activity android:name="Activities.BodyLocationActivity" />
        <activity android:name="Activities.DrawBodyLocationActivity" />
        <activity android:name="Activities.AddProblemActivity" />
        <activity android:name="Activities.ModifyRecordActivity" />
        <activity android:name="Activities.BackBodyLocationActivity" />
        <activity android:name="Activities.ViewRecordActivity" />
        <activity android:name="Activities.ModifyProviderActivity" />
        <activity android:name="Activities.ModifyProblemActivity" />
        <activity android:name="Activities.BrowseProblemRecords" />
        <activity android:name="Activities.AddRecordActivity" />
        <activity android:name="Activities.AddReminderActivity" />
        <activity android:name="Activities.AddAlarmActivity" />
        <activity android:name="Activities.AddMapsActivity" />
        <activity
            android:name="Activities.ViewMapsActivity"
            android:label="@string/title_activity_maps" />
        //receiver for alarm notification
        <receiver
            android:name=".RingAlarm"
            android:enabled="true"
            android:exported="true" />
        //Google map API key
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="Activities.BrowseRecordPhotosActivity" />
        <activity android:name="Activities.CameraActivity" />
        <activity android:name="Activities.ProviderBrowsePatientProblems" />
        <activity android:name="Activities.ProviderViewPatientProblem" />
        <activity android:name="Activities.SlideshowActivity" />
        <activity android:name="Activities.ViewRecordPhotoActivity" />
        <activity android:name="Activities.BrowseBodyLocationPhotosActivity"></activity>
    </application>

</manifest>